@import "tailwindcss";

@theme {
  --color-bg-main: var(--bg-main);
  --color-bg-secondary: var(--bg-secondary);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-accent-blue: var(--accent-blue);
  --color-accent-purple: var(--accent-purple);
  --color-accent-pink: var(--accent-pink);
}

:root {
  --bg-main: #ffffff;
  --bg-secondary: #f8fafc;
  --bg-tertiary: #f1f5f9;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --accent-blue: #2563eb;
  --accent-purple: #7c3aed;
  --accent-pink: #d946ef;
}

a {
    text-decoration: none;
    color: inherit;
}